{% extends "base.html" %}
{%block title%}歡迎光臨 圖書館{% endblock title %}
{% block headmessage %}
<div style="display: flex;justify-content: space-between; align-items: center;">
    <h3 style='font-family:微軟正黑體;'>新增書籍</h3>
    <a style='font-family:微軟正黑體;' href="/">回首頁</a>
</div>
{%endblock headmessage%}
{% block content%}
<form action="/addBook/" method="post">
    {% csrf_token %}
    <div class="title">
        <label for="title">書名： </label>
        <input type="text" name="title" id="">
    </div>
    <div class="slug">
        <label for="slug">slug： </label>
        <input type="text" name="slug" id="">
    </div>
    <div class="genre">
        <label for="genre">類型： </label>
        <select>
            {% for choices in GENRE_CHOICES %}
            <option value="{{choices}}">{{choices}}</option>
            {% endfor %}
        </select>
    </div>
		<div class="author">
			<label for="author">作者： </label>
			<input type="text" name="author" id="">
		</div>
    <div class="quantity">
        <label for="quantity">庫存量： </label>
        <input type="number" name="quantity" id="">
    </div>
    <div class="body">
        <label for="body">介紹： </label>
        <textarea id="body" name="body" style="height: 300px; width: 700px;"></textarea>
    </div><br>
    <input type="submit" class="btn btn-outline-success" value="新增">
    <input type="reset" class="btn btn-outline-info" value="清除重填">
</form>
{% endblock content %}
