{% extends "base.html" %} {% block title %} Welcome to our library {% endblock
title %} {% block headmessage %}
<h3 style="font-family: 標楷體">Article List</h3>
{% endblock headmessage %} {% block content %} {% for post in post %} {% if
forloop.first %}
<table class="table table-hover">
  <thead>
    <tr background="#ffffff">
      <th scope="col">Title</th>
      <th scope="col">Slug</th>
      <th scope="col">pub date</th>
      <th scope="col">comments</th>
    </tr>
  </thead>
  {% endif %}
  <tbody>
    <tr background="#fffccf">
      <td>{{ post.title }}</td>
      <td>{{ post.slug }}</td>
      <td>{{ post.pub_date }}</td>
      <td><a href="{% url 'show-comments' post.id %}"> views </a></td>
    </tr>
  </tbody>
  {% if forloop.last %}
</table>
{% endif %} {% endfor %} {% endblock content %}
