{% extends "base.html" %}
{%block title%} 歡迎光臨 圖書館 {% endblock title %}
{% block headmessage %}
<div style="display: flex;justify-content: space-between; align-items: center;">
    <h3 style='font-family:微軟正黑體;'>修改書籍</h3>
    <a style='font-family:微軟正黑體;' href="/">回首頁</a>
</div>
{%endblock headmessage%}
{% block content%}
{% if PostList %}
<table class="table table-hover">
<tr>
    <td>書名</td>
    <td>作者</td>
    <td>類別</td>
    <td>館藏數量</td>
    <td>修改書籍</td>
</tr>
       {% for post in PostList %}
       <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.author }}</td>
            <td>{{ post.genre }}</td>
            <td>{{ post.quantity }}</td>
            <td><a href="/bookModify/{{ post.id }}">修改</a></td>
        </tr> 
        {% endfor %} 
    
    
</table>
    
{% else %}
    <p>尚未有書籍</p>
{% endif %}
{% endblock content %}