{% extends "base.html" %} {% block title %}歡迎光臨 圖書館{% endblock title %}
{% block headmessage%}
<h3 style="font-family: 標楷體">
  Article Comments <a href="{% url 'show_all_post' %}">上一頁</a>
</h3>
{% endblock headmessage %} {% block content %} {% for c in comments %} {% if
forloop.first %}
<table class="table table-hover">
  <thead>
    <tr background="#cccccc">
      <th>Text</th>
      <th>pub data</th>
    </tr>
  </thead>
  {% endif %}
  <tbody>
    <tr background='{% cycle "#ffccff" "#ccffcc" %}'>
      <td>{{ c.text }}</td>
      <td>{{ c.pub_date }}</td>
    </tr>
  </tbody>
  {% if forloop.last %}
</table>
{% endif %} {% empty %}
<h2>沒有任何回復</h2>
{% endfor %} {% endblock content %}
