{% extends "base.html" %}
{% block title %} 圖書狀態 {% endblock title %}
{% block headmessage %} 
<h2> {{user_name}}  的借閱紀錄 </h2>  
<a style='font-family:微軟正黑體;' href="/">回首頁</a>
{% endblock headmessage %} 

{% block content %}
{% if condition is not None %}
<table class="table">
    <thead>
        <tr>
            <td>書名</td>
            <td>借閱時間</td>
            <td>到期時間</td>
            <td>歸還日期</td>
        </tr>
    </thead>
    <tbody>
        {% for b in condition %}
        <tr>
            <td>{{ b.title }}</td>
            <td>{{ b.borrow_date }}</td>
            <td>{{ b.due_date }}</td>
            <td>{{ b.return_date }}</td>
            <td>
                {% if b.return_date is not None %}
                    {{ b.return_date }}
                {% else %}
                    尚未歸還
                {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% else %}
    無借閱紀錄！
{% endif %}

{% endblock content %} 