{% extends "base.html" %}
{%block title%}歡迎光臨 圖書館{% endblock title %}
{% block headmessage %}
<h3 style='font-family:微軟正黑體;'>歸還書籍</h3>
<a style='font-family:微軟正黑體;' href="/">回首頁</a>
{%endblock headmessage%}
{% block content%}
<form action="/returnBookPage/" method="post">
    {% csrf_token %}
    <input type="text" name="username" placeholder="輸入帳號...">
    <button type="submit">尋找</button>
</form>
    {% if returnList %}
        <table class="table table-hover">
            <thead>
                <th>書名</th>
                <th>借閱日期</th>
                <th>到期日期</th>
                <th>歸還</th>
            </thead>
            {% for l in returnList %}
                <tbody>
                    <tr>
                        <td>{{ l.title.title }}</td>
                        <td>{{ l.borrow_date }}</td>
                        {% now "Y-m-d" as current_datetime %}
                        {% if l.due_date > now and not l.returned %}
                            <td style="color: red;">{{ l.due_date }}</td>
                        {% else %}
                            <td>{{ l.due_date }}</td>
                        {% endif %}
                        <form action="/returnBook/" method="post">
                            {% csrf_token %} 
                        <td><input type="checkbox" name="return_books" value="{{ l.id }}"></td>
                    </tr>
                </tbody>
                {% endfor %}
        </table>
        <button type="submit">歸還</button>
    </form>
    {% endif %}
{% endblock content %}